.header
  = link_to "Floor Management",root_path,class: "header_logo"
  .header_menu
    =link_to "テーブル登録",new_table_path, class: "header_menu_new"
    =link_to "テーブル一覧",root_path, class: "header_menu_index"
    =link_to "当日予約",new_customer_path, class: "header_menu_reservation" 
    =link_to "顧客情報",customers_path, class: "header_menu_customers"
  .header_edit-user
    =link_to"ログアウト", destroy_user_session_path, method: :delete, class: "header_edit-user__btn"
