.header
  .header_logo
    Floor Management
  .header_menu
    =link_to "", class: "header_menu_index" do
      席一覧
    =link_to "", class: "header_menu_reservation" do
      当日予約
    =link_to "", class: "header_menu_customers" do
      顧客情報
  .header_edit-user
    =link_to "", class: "header_edit-user__btn" do
      ユーザー編集
