.wrapper
  = render 'shared/header'
  .contents
    .form
      .form_title
        顧客情報検索
      .form_search-box
        = form_tag('/customers', method: :get, id: "search_customer")  do
          %input.customer-search{type: "text",name: "keyword",placeholder: "電話番号を入力してください",value: ""}/ 
          %input.form_search-btn{type: "submit", value: "検索"}/
    .message
      ・電話番号((-)ハイフンを含む)を入力することで顧客情報を検索できます。<br>
      ・予約日(例: 1/1)を入力することで検索したい日程の予約を一覧表示できます。
    .customers
