.form {
  padding: 30px 30px 10px 30px;
  &_title {
    font-size: 20px;
    padding-bottom: 15px;
  }
  &_search-box {
    float: left;
    margin-right: 10px;
    .customer-search {
      width: 300px;
      height: 30px;
    }
  }
}
.message {
  padding-top: 40px;
  padding-left: 20px;
}

.customers {
  padding-top: 60px;
}

.customer {
  display: flex;
  margin: 0px 110px;
  border: solid 1px;
  &_name {
    margin: 10px;
    padding-left: 10px;
    min-width: 150px;
    max-width: 150px;
  }
  &_people {
    margin: 10px;
    min-width: 60px;
    text-align: end;
  }
  &_tel {
    margin: 10px;
    min-width: 130px;
  }
  &_day {
    margin: 10px;
    min-width: 100px;
  }
  &_time {
    margin: 10px;
    min-width: 50px;
  }
  &_text {
    margin: 10px;
    padding-left:10px; 
    min-width: 500px;
    max-width: 500px;
  }
  &_add-btn {
    margin: 10px 5px 5px 10px;
    display: inline-block;
    height: 45px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: skyblue;
    color: white;
    border-bottom: solid 3px lightgray;
    border-radius: 3px;
  }
  &_add-btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }
  
  &_edit{
    margin: 12px 5px 5px 10px;
    &_btn{
      padding: 7px 10px;
      color: black;
      text-decoration: none;  
      border: solid 1px;
      border-radius: 2px;
    }
  }

}
.coment {
  text-align: center
}
#customer_table_ids{
  margin: 0px auto;
  min-width: 120px;
  height: 30px;
}