.new-input {
  margin: 5px 500px;
  .input-box{
    margin: 10px auto;
    display: block;
    width: 300px;
    border-style: ridge;
    height: 50px;
    padding-left: 3px;
    border-radius: 5px;
  }
  .label{
    padding: 5px 10px;
    background:mediumseagreen;
    color: white;
    border-radius: 3px;
  }
  input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  input[type="number"]::-webkit-clear-button{
    -webkit-appearance: none;
  }
  input[type="date"]{
    background-image: image-url("calendar.png");
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: right 5px center;
  }
  input[type="date"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-clear-button{
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    width: 18px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
  }
  input[type="time"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  input[type="time"]::-webkit-clear-button{
    -webkit-appearance: none;
  }
  #customer_table_ids{
    display: block;
    margin: 10px auto;
    min-width: 310px;
    height: 100px;
    border-radius: 5px;
  }
  .input-area {
    display: block;
    margin: 10px auto;
    width: 400px;
    height: 150px;
    border-style: outset;
    border-radius: 5px;
  }
  .submit-btn {
    display: block;
    margin: 10px auto;
    height: 45px;
    width: 120px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: skyblue;
    color: white;
    border-bottom: solid 3px lightgray;
    border-radius: 3px;
  }
  .submit-btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }

}
