.new-input {
  .input-box{
    display: block;
    margin: 5px auto;
    width: 200px;
    border-style: ridge;
  }
  .input-area {
    display: block;
    margin: 5px auto;
    width: 400px;
    height: 200px;
    border-style: outset;
  }
  .submit-btn {
    display: block;
    margin: 10px auto;
    width: 60px;
  }
}
