.new-input {
  padding-top: 20px;
  .input-box{
    display: block;
    margin: 5px auto;
    width: 200px;
    border-style: ridge;
  }
  .input-area {
    display: block;
    margin: 5px auto;
    width: 200px;
    padding:0px 100px 100px 10px;
    border-style: outset;
  }
  .submit-btn {
    display: block;
    margin: 10px auto;
    width: 60px;
  }
}
