.contents {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  overflow: scroll;
}

.tables {
  padding: 40px 50px 40px 50px;
}

.table {
  display: flex;
  min-height: 50px;
  border: solid 1px ;
  border-radius: 5px;
  margin: 10px;
  &_name {
    display: flex;
    align-items: center;
    padding: 15px; 
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
  }
  &_body {
    display: flex;
    align-items: center;
    padding: 15px; 
    &_customer-name {
      margin: 10px;
      min-width: 150px;
      max-width: 150px;  
    }
    &_people {
      margin: 10px;
      min-width: 60px;
      text-align: end;  
    }
    &_tel {
      margin: 10px;
      min-width: 130px;
    }
    &_day {
      margin: 10px;
      min-width: 100px;
    }
    &_time {
      margin: 10px;
      min-width: 50px;
    }
    &_text {
      margin: 10px;
      padding-left: 10px;
      min-width: 500px;
      max-width: 500px;  
    }
  }
  &_reservation {  
    display: inline-block;
    margin: 10px;
    height: 25px;
    background-color: lightgray;
    padding: 0.8em 1em;
    border-radius: 5px;
  }
}
.reservation_edit {
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
  padding-top: 60px;
  font-size: 24px;
}

hr {
  width: 500px;
}

.lightpink {
  background-color: lightpink;
}