.contents {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  overflow: scroll;
}

.tables {
  padding: 40px 50px 40px 50px;
}

.table_reset {
  display: block;
  margin: 20px 10px;
  height: 35px;
  padding: 0.5em 1em;
  font-size: 14px;
  text-decoration: none;
  background: lightskyblue;
  color: white;
  border-bottom: solid 3px lightgray;
  border-radius: 3px;
  cursor: pointer;

}

.table {
  position: relative;
  min-height: 50px;
  border: solid 1px ;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(12, 216, 12, 0.63);
  letter-spacing: 1px;
  &_check{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    text-indent: -999px;
  }
  &_name {
    display: inline-block;
    align-items: center;
    padding: 15px; 
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
  }
  &_delete{
    display: inline-block;
    margin: 0px 5px 0px 1100px;
    &_btn{
      text-decoration: none;
      color: white;
      border: solid 1px white;
      border-radius: 5px;
      padding: 5px;
    }
  }
  &_body {
    display: flex;
    background-color: white;
    align-items: center;
    border: solid 1px;
    margin: 3px;
    border-radius: 5px;
    padding: 15px; 
    &_customer-name {
      margin: 10px;
      min-width: 150px;
      max-width: 150px;  
    }
    &_people {
      margin: 10px;
      min-width: 60px;
      text-align: end;  
    }
    &_tel {
      margin: 10px;
      min-width: 130px;
    }
    &_day {
      margin: 10px;
      min-width: 100px;
    }
    &_time {
      margin: 10px;
      min-width: 50px;
    }
    &_text {
      margin: 10px;
      padding-left: 10px;
      min-width: 500px;
      max-width: 500px;  
    }
    &_reservation {
      display: inline-block;
      margin: 10px 5px 5px 60px;
      padding: 7px 10px;
      color: black;
      text-decoration: none;  
      border-radius: 7px;
      background-color: whitesmoke;
      border: solid 1px gray;
    }

  }
  
}

.title {
  text-align: center;
  padding-top: 40px;
  font-size: 24px;
}

hr {
  width: 500px;
}

.lightpink {
  background-color: lightpink;
}