html{
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
body{
  height: 100%;
}
.contents_row {
  width: 50%;
  height: 90%;
  margin: 20px auto;
  background-color: lightskyblue;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  & a {
    display: block;
    margin-top: 20px;
    font-size: 13px;
  }
}

h2 {
  font-size: 30px;
  padding: 20px 0px;
  font-weight: bold;
}

.field {
  padding: 20px;
  em{
    color: red;
    font-size: 12px;
  }
}

.actions{
  height: 40px;

  .btn {
    display: block;
    margin: 10px auto;
    padding: 8px 10px;
    width: 150px;
    border-radius: 7px;
    background-color: whitesmoke;
    border-bottom: solid 3px lightgray;
  }
}
input[type="email"] {
height: 30px;
width: 300px;
margin: 10px auto;
}
input[type="password"] {
  height: 30px;
  width: 300px;
  margin: 10px auto;
  
}
