- current_user.tables.each do |table|
  .table
    .table_body
      .table_body_name
        = table.name
      .table_body_customer-name

      .table_body_people
        
      .table_body_tel
        
      .table_body_time
        
      .table_body_text
        
      .table_body_reservation
        =link_to "", class: "reservation_edit" do
          追加
