.table_body{id: "customer-#{table.id}"}
  %input{name: "table[customer_ids][]", type: "hidden", value: "#{table.id}"}/
  .table_body_customer-name
    =table.name + "様"
  .table_body_people
    =table.people + "名"
  .table_body_tel
    =table.tel
  .table_body_day
    =table.day
  .table_body_time
    =table.time
  .table_body_text
    =table.text
  = link_to '予約編集', "/customers/#{table.id}/edit", method: :get, class: "table_body_reservation"
