.wrapper
  = render 'shared/header'
  .contents
    .tables
      - current_user.tables.each do |table|
        .table
          .table_name
            =table.name
          = render partial: "table", collection: table.customers